* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

#img_footer {
    width: auto;
    height: auto;
    max-width: 50px;
    max-height: 25px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.label {
    font-size: 16px;
    margin-right: 10px;
    margin-left: 10px;
    font-weight: bold;
}

label {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 5px;
}

input[type="radio"] {
    position: absolute;
    opacity: 0;
}

input[type="radio"]:checked + .box {
    outline: 4px solid #333;
}

p {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.pergunta {
    margin: 20px;
}

#itexto {
    width: 100%;
    padding: 10px;
    border: 2px solid #007bff;
    border-radius: 5px;
    font-size: 1em;
    transition: border-color 0.3s;
}

.box {
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    color: white;
    margin-right: 50px;
    margin-bottom: 50px;
    cursor: pointer;
    transition: transform 0.2s ease;
    border-radius: 50%;
}

.box:hover {
    transform: scale(1.1);
}

.red { background-color: #d2e0ff; }
.orange-dark { background-color: #b0c9ff; }
.orange { background-color: #96b7ff; }
.orange-light { background-color: #76a0ff; }
.yellow-dark { background-color: #5086ff; }
.yellow { background-color: #3f7aff; }
.yellow-light { background-color: #2065ff; }
.green-light { background-color: #0b56ff; }
.green { background-color: #004fff; }
.green-dark { background-color: #003abb; }

button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #8f8f8f;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
}

button:hover {
    background-color: #45a049;
}
