/* Reset básico para remover margens e paddings padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo geral da página */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

/* Estilos da barra de navegação */
.navbar {
    background-color: #343a40;
    padding: 10px 20px;
}

.navbar-nav {
    list-style-type: none;
    display: flex; /* Alinha os itens horizontalmente */
}

.nav-item {
    position: relative; /* Necessário para posicionamento absoluto do submenu */
    margin-right: 20px; /* Espaçamento entre os itens de navegação */
}

.nav-link {
    color: #ffffff;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    cursor: pointer;
    transition: background-color 0.3s;
}

.nav-link:hover, .nav-item.active > .nav-link {
    background-color: #495057;
    border-radius: 4px;
}

/* Estilos do submenu */
.submenu {
    display: none; /* Esconde o submenu por padrão */
    position: absolute;
    top: 100%; /* Posiciona o submenu diretamente abaixo do item de navegação */
    left: 0;
    background-color: #495057;
    list-style-type: none;
    min-width: 180px; /* Largura mínima do submenu */
    border-radius: 4px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1000; /* Garante que o submenu fique acima de outros elementos */
}

.submenu li a {
    color: #ffffff;
    padding: 10px 8px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s;
}

.submenu li a:hover {
    background-color: #6c757d;
    border-radius: 4px;
}

/* Exibir submenu quando o item de navegação está ativo */
.nav-item.active .submenu {
    display: block;
}

/* Estilos do conteúdo principal */
.main-content {
    padding: 20px;
    text-align: center;
}

.main-content h1 {
    color: #343a40;
    margin-bottom: 10px;
}

.main-content p {
    color: #6c757d;
}

form {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 7px;
    padding: 40px;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
    gap: 5px;
    font-family: 'Courier New', Courier, monospace;
}  

input {
    padding: 15px;
    font-size: 14px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    margin-top: 5px;
    border-radius: 4px;
    transition: all linear 160ms;
    outline: none;
    appearance: none;
}

button {
    background-color: #6c757d;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    border: none !important;
    transition: all linear 160ms;
    cursor: pointer;
    margin: 5px;
    height: 50px;
    border-radius: 5px;
}

button:hover {
    background-color: #89898a
}