<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avaliação HRAV</title>
    <link rel="stylesheet" href="../public/styles/styleClassViewManutencaoDispositivo.css">
</head>
<body>
    <h1>Escolha um dispositivo</h1>

    <div class="lista">
        <ul>
            <div class="itens-lista">
                <li>
                    <label for="">
                        <input type="radio" name="" id=""> teste
                    </label>
                </li>
            </div>
        </ul>
    </div>
</body>
</html>