<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/styles/styleClassViewManutencaoFinalizacaoAvaliacao.css">
    <script src="ClassViewComportamentoFinalizacaoAvaliacao.js" defer></script>
</head>
<body>
    <div class="container">
        <img src="../public/imgs/logo-white.png" id="logo">
        <h1>Obrigado por finalizar a avaliação!</h1>
        <div class="progress-container">
            <div class="progress-bar"></div>
            <span class="progress-value">0%</span>
        </div>
    </div>
</body>
</html>